* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 0;
  /* border: 1px solid black; */
}

.header {
  color: #FFF;
  padding-bottom: 0.1rem;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.swift {
  font-family: sans-serif;
}

.mark {
  width: 16px;
}

.description h2 {
  color: #db923f;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links p {
  margin-right: 15px;
}

.nav-links p:hover {
  color: #db923f;
  cursor: pointer;
}

.sign-in {
  background-color: #db923f;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
}

.sign-in:hover {
  background-color: #FFF;
  color: #db923f;
}

.fa-ellipsis-v {
  display: none;
  margin-right: 1.2rem;
  cursor: pointer;
}

.fa-times {
  color: #FFF;
  position: absolute;
  font-size: 1.2rem;
  top: 1.2rem;
  right: 1.2rem;
  cursor: pointer;
}

.menu {
  display: none;
  background-color: #db923f;
  position: absolute;
  padding: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
}

ul li{
  margin: 1.3rem 0;
  list-style-type: none;
  cursor: pointer;
}

ul li:hover {
  color: black;
}

.menu-btn {
  color: #db923f;
}

.menu-btn:active {
  color: #000;
}

.mini-ad {
  width: 48%;
  margin-left: 2%;
}

@media screen and (max-width: 700px) {
  .description {
    justify-content: space-between;
    margin: 0 1%;
  }

  .sign-in {
    display: none;
  }

  .fa-ellipsis-v {
    display: inline-block;
  }

  .nav-links {
    display: none;
  }
  .mini-ad {
    width: 98%;
  }
}